<section class="section contacts">
	<div class="container">

		<div class="heading-section">
			<h2 class="heading-section__title">Contact Us</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<div class="section-content-contacts">
			<div class="section-content-contacts__block-contacts">

				<div class="section-content-contacts__block-contact">
					<div class="section-content-contacts__block-contact-img">
						<img src="img/contacts/placeholder.png" alt="placeholder">
					</div>
					<div class="section-content-contacts__block-contact-text">
						Nobinagar savar, Dhaka Bangladesh
					</div>
				</div>

				<div class="section-content-contacts__block-contact">
					<div class="section-content-contacts__block-contact-img">
						<img src="img/contacts/phone.png" alt="contacts">
					</div>
					<div class="section-content-contacts__block-contact-text">
						<a href="tel:+8801743331996"
							class="section-content-contacts__block-contact-phone-number">+8801743331996</a>
						<a href="tel:+8801928737807"
							class="section-content-contacts__block-contact-phone-number">+8801928737807</a>
					</div>
				</div>

				<div class="section-content-contacts__block-contact">
					<div class="section-content-contacts__block-contact-img">
						<img src="img/contacts/mail.png" alt="mail">
					</div>
					<div class="section-content-contacts__block-contact-text">
						<a href="mailto:quickmasud@gmail.com" target="_blank"
							class="section-content-contacts__block-contact-phone-number">quickmasud@gmail.com</a>
						<a href="mailto:quickmasud@yahoo.com" target="_blank"
							class="section-content-contacts__block-contact-phone-number">quickmasud@yahoo.com</a>

					</div>
				</div>

			</div>

			<form action="#" method="POST" class="form-contact">

				<div class="form-contact__inputs">

					<div class="form-contact__input">
						<div class="form-contact__block-input">
							<input type="text" placeholder="Your NAME" class="form-contact__input-text">
						</div>
						<div class="form-contact__block-input">
							<input type="email" placeholder="Your Email" class="form-contact__input-text">
						</div>
					</div>
					<div class="form-contact-block-input-message">
						<textarea name="Message" id="message" class="form-contact-block-input-message__input-message"
							placeholder="Write Message">
						</textarea>
					</div>
					<div class="form-contact-block-button">
						<!-- Button -->
						<button type="submit"  class="form-contact-block-button__button-form">
							<div class="form-contact-block-button__form-link">Send</div>
						</button>
						<!-- Button - end -->
					</div>
				</div>
			</form>
		</div>
	</div>
</section>