<section class="section lightgreen ">
	<div class="container">

		<!-- title-section -->
		<div class="heading-section">
			<h2 class="heading-section__title">Our Services</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>


		<div class="section-content-services">

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Research</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Portfolio</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.
					</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Support</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.
					</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Documentation</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.
					</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Development</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-services__block">
				<div class="section-content-services__block-border">

					<div class="section-content-services__block-img">
						<svg class="img-picture" fill="currentColor">
							<use xlink:href="img/sprite.svg#smartphone"></use>
						</svg>
					</div>
					<h3 class="section-content-services__block-title">Design</h3>
					<div class="section-content-services__block-text">At vero eos et accusamus et iusto odio dignissimos
						ducimus qui blan-ditiis praesentium voluptatum iti atque corrupti quos.</div>

					<!-- Button -->
					<div class="button">
						<button type="button" class="section-content-services__block-link">Read More</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>
			
		</div>

	</div>
</section>