<section class="section white">
	<div class="container">


		<div class="heading-section">
			<h2 class="heading-section__title">About Us</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<div class="section-content">
			<div class="section-content-about">
				<div class="section-content-about__border">
					<div class="section-content-about__img"><img src="img/internet.png" alt=""></div>
					<h3 class="section-content-about__title">Awesome Icons</h3>
					<p class="section-content-about__text">Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed
						do
						eiusmod tempor</p>
				</div>
			</div>
			<div class="section-content-about">
				<div class="section-content-about__border">
					<div class="section-content-about__img"><img src="img/transfer.png" alt=""></div>
					<h3 class="section-content-about__title">One Page</h3>
					<p class="section-content-about__text">Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed
						do
						eiusmod tempor</p>
				</div>
			</div>
			<div class="section-content-about">
				<div class="section-content-about__border">
					<div class="section-content-about__img"><img src="img/head.png" alt=""></div>
					<h3 class="section-content-about__title">Fully Responsive</h3>
					<p class="section-content-about__text">Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed
						do
						eiusmod tempor</p>
				</div>
			</div>
		</div>
	</div>
</section>