<section class="section white">
	<div class="container">

		<div class="heading-section">
			<h2 class="heading-section__title">Our Team Member</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<!-- slider -->
		<div class="slider-team swiper-content">
			<div class="slider-team__wrapper swiper-wrapper">
				<!--slide-1-->
				<div class="slider-team__slide swiper-slide">
					<div class="slider-team__slide swiper-slide">
						<div class="team-block">
							<div class="team-block__img">
								<img src="img/girls/girl-1.jpg" alt="team">
							</div>
							<div class="team-block__text">
								<h5 class="team-block__title">Marta Stewart</h5>
								<div class="team-block__subtitle">General Manager</div>
							</div>
							<div class="team-block__social">
								<!-- svg-facebook -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#facebook"></use>
										</svg>
									</a>
								</div>
								<!-- svg-facebook end-->

								<!-- svg-twitter -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#twitter"></use>
										</svg>
									</a>
								</div>
								<!-- svg-twitter end -->

								<!-- svg-chat -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
									</a>
								</div>
								<!-- svg-chat end -->

								<!-- svg-dribble -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#dribble"></use>
										</svg>
									</a>
								</div>
								<!-- svg-dribble end -->
							</div>
						</div>
					</div>

				</div>
				<!--slide-2-->
				<div class="slider-team__slide swiper-slide">
					<div class="slider-team__slide swiper-slide">
						<div class="team-block">
							<div class="team-block__img">
								<img src="img/girls/girl-2.jpg" alt="team">
							</div>
							<div class="team-block__text">
								<h5 class="team-block__title">Marta Stewart</h5>
								<div class="team-block__subtitle">General Manager</div>
							</div>
							<div class="team-block__social">
								<!-- svg-facebook -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#facebook"></use>
										</svg>
									</a>
								</div>
								<!-- svg-facebook end-->

								<!-- svg-twitter -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#twitter"></use>
										</svg>
									</a>
								</div>
								<!-- svg-twitter end -->

								<!-- svg-chat -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
									</a>
								</div>
								<!-- svg-chat end -->

								<!-- svg-dribble -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#dribble"></use>
										</svg>
									</a>
								</div>
								<!-- svg-dribble end -->
							</div>
						</div>
					</div>

				</div>
				<!--slide-3-->
				<div class="slider-team__slide swiper-slide">
					<div class="slider-team__slide swiper-slide">
						<div class="team-block">
							<div class="team-block__img">
								<img src="img/girls/girl-3.jpg" alt="team">
							</div>
							<div class="team-block__text">
								<h5 class="team-block__title">Marta Stewart</h5>
								<div class="team-block__subtitle">General Manager</div>
							</div>
							<div class="team-block__social">
								<!-- svg-facebook -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#facebook"></use>
										</svg>
									</a>
								</div>
								<!-- svg-facebook end-->

								<!-- svg-twitter -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#twitter"></use>
										</svg>
									</a>
								</div>
								<!-- svg-twitter end -->

								<!-- svg-chat -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
									</a>
								</div>
								<!-- svg-chat end -->

								<!-- svg-dribble -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#dribble"></use>
										</svg>
									</a>
								</div>
								<!-- svg-dribble end -->
							</div>
						</div>
					</div>

				</div>
				<!--slide-4-->
				<div class="slider-team__slide swiper-slide">
					<div class="slider-team__slide swiper-slide">
						<div class="team-block">
							<div class="team-block__img">
								<img src="img/girls/girl-1.jpg" alt="team">
							</div>
							<div class="team-block__text">
								<h5 class="team-block__title">Marta Stewart</h5>
								<div class="team-block__subtitle">General Manager</div>
							</div>
							<div class="team-block__social">
								<!-- svg-facebook -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#facebook"></use>
										</svg>
									</a>
								</div>
								<!-- svg-facebook end-->

								<!-- svg-twitter -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#twitter"></use>
										</svg>
									</a>
								</div>
								<!-- svg-twitter end -->

								<!-- svg-chat -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
									</a>
								</div>
								<!-- svg-chat end -->

								<!-- svg-dribble -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#dribble"></use>
										</svg>
									</a>
								</div>
								<!-- svg-dribble end -->
							</div>
						</div>
					</div>

				</div>
				<!--slide-5-->
				<div class="slider-team__slide swiper-slide">
					<div class="slider-team__slide swiper-slide">
						<div class="team-block">
							<div class="team-block__img">
								<img src="img/girls/girl-2.jpg" alt="team">
							</div>
							<div class="team-block__text">
								<h5 class="team-block__title">Marta Stewart</h5>
								<div class="team-block__subtitle">General Manager</div>
							</div>
							<div class="team-block__social">
								<!-- svg-facebook -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#facebook"></use>
										</svg>
									</a>
								</div>
								<!-- svg-facebook end-->

								<!-- svg-twitter -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#twitter"></use>
										</svg>
									</a>
								</div>
								<!-- svg-twitter end -->

								<!-- svg-chat -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
									</a>
								</div>
								<!-- svg-chat end -->

								<!-- svg-dribble -->
								<div class="team-block__item-img">
									<a target="_blank" href="#">
										<svg class="social-icon-svg">
											<use xlink:href="img/sprite.svg#dribble"></use>
										</svg>
									</a>
								</div>
								<!-- svg-dribble end -->
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- pagination -->
			<div class="slider-team__pagination">
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<!-- slider - end -->

	</div>
</section>