<section class="section lightgreen">
	<div class="container">

		<div class="heading-section">
			<h2 class="heading-section__title">Blog</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<div class="section-content-blog">
			<div class="section-content-blog__block-blog">
				<div class="section-content-blog__blog-img">
					<img src="img/blog-img/img_1.jpg" alt="seo optimization">
				</div>
				<div class="section-content-blog__blog-text">
					<a href="#" class="section-content-blog__blog-title-link">
						<h4 class="section-content-blog__blog-title">SEO Quis Vestibulum</h4>
					</a>
					<div class="section-content-blog__blog-subtitle">
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img"><img src="img/blog-img/data.png" alt="date">
							</div>
							<h5 class="section-content-blog__blog-column-text">14.07.2017</h5>
						</div>
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img"><img src="img/blog-img/document.png"
									alt="document">
							</div>
							<h5 class="section-content-blog__blog-column-text">Development</h5>
						</div>
					</div>
					<div class="section-content-blog__blog-text-content">Dolore magna aliqua. Ut enim ad minim veniam,
						quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
				</div>
			</div>
			<div class="section-content-blog__block-blog">
				<div class="section-content-blog__blog-img">
					<img src="img/blog-img/img_2.jpg" alt="seo optimization">
				</div>
				<div class="section-content-blog__blog-text">
					<a href="#" class="section-content-blog__blog-title-link">
						<h4 class="section-content-blog__blog-title">SEO Quis Vestibulum</h4>
					</a>
					<div class="section-content-blog__blog-subtitle">
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img">
								<img src="img/blog-img/data.png" alt="date">
							</div>
							<h5 class="section-content-blog__blog-column-text">14.07.2017</h5>
						</div>
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img">
								<img src="img/blog-img/document.png" alt="document">
							</div>
							<h5 class="section-content-blog__blog-column-text">Development</h5>
						</div>
					</div>
					<p class="section-content-blog__blog-text-content">
						Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat...
					</p>
				</div>
			</div>
			<div class="section-content-blog__block-blog">
				<div class="section-content-blog__blog-img">
					<img src="img/blog-img/img_3.jpg" alt="seo optimization">
				</div>
				<div class="section-content-blog__blog-text">
					<a href="#" class="section-content-blog__blog-title-link">
						<h4 class="section-content-blog__blog-title">SEO Quis Vestibulum</h4>
					</a>
					<div class="section-content-blog__blog-subtitle">
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img"><img src="img/blog-img/data.png" alt="date">
							</div>
							<h5 class="section-content-blog__blog-column-text">14.07.2017</h5>
						</div>
						<div class="section-content-blog__column">
							<div class="section-content-blog__blog-column-img"><img src="img/blog-img/document.png"
									alt="document">
							</div>
							<h5 class="section-content-blog__blog-column-text">Development</h5>
						</div>
					</div>
					<div class="section-content-blog__blog-text-content">Dolore magna aliqua. Ut enim ad minim veniam,
						quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
				</div>
			</div>
		</div>

		<div class="buttons-work">
			<div class="buttons-work__btn">More View</div>
		</div>
	</div>
</section>