<section class="section silver" id="plan">
	<div class="container">

		<div class="heading-section">
			<h2 class="heading-section__title">Pricing Plan</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<div class="section-content-plan">

			<div class="section-content-plan__block">
				<div class="section-content-plan__block-border">

					<div class="section-content-plan__block-heading">
						<div class="section-content-plan__title">Free Trail</div>
						<div class="section-content-plan__subtitle">
							<span class="section-content-plan__uppercase">$</span> 00
							<span class="section-content-plan__lower-case">per month</span>
						</div>
					</div>
					<div class="content-block-plan">
						<div class="content-block-plan__text">30 Free Trail</div>
						<div class="content-block-plan__text">5 Free Projects</div>
						<div class="content-block-plan__text">PHP 5 Enabled</div>
						<div class="content-block-plan__text">24/7 Suports</div>
					</div>

					<!-- Button -->
					<div class="content-block-plan__btn">
						<button aria-label="plan button" type="button" class="content-block-plan__link">Order Now</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-plan__block">
				<div class="section-content-plan__block-border">

					<div class="section-content-plan__block-heading">
						<div class="section-content-plan__title">Free Trail</div>
						<div class="section-content-plan__subtitle">
							<span class="section-content-plan__uppercase">$</span> 50
							<span class="section-content-plan__lower-case">per month</span>
						</div>
					</div>
					<div class="content-block-plan">
						<div class="content-block-plan__text">30 Free Trail</div>
						<div class="content-block-plan__text">5 Free Projects</div>
						<div class="content-block-plan__text">PHP 5 Enabled</div>
						<div class="content-block-plan__text">24/7 Suports</div>
					</div>
					<!-- Button -->
					<div class="content-block-plan__btn">
						<button aria-label="plan button" type="button" class="content-block-plan__link">Order Now</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

			<div class="section-content-plan__block">
				<div class="section-content-plan__block-border">

					<div class="section-content-plan__block-heading">
						<div class="section-content-plan__title">Free Trail</div>
						<div class="section-content-plan__subtitle">
							<span class="section-content-plan__uppercase">$</span> 99
							<span class="section-content-plan__lower-case">per month</span>
						</div>
					</div>
					<div class="content-block-plan">
						<div class="content-block-plan__text">30 Free Trail</div>
						<div class="content-block-plan__text">5 Free Projects</div>
						<div class="content-block-plan__text">PHP 5 Enabled</div>
						<div class="content-block-plan__text">24/7 Suports</div>
					</div>
					<!-- Button -->
					<div class="content-block-plan__btn">
						<button aria-label="plan button" type="button" class="content-block-plan__link">Order Now</button>
					</div>
					<!-- Button - end -->
				</div>
			</div>

		</div>

	</div>
</section>