<section class="section white">
	<div class="container">

		<div class="heading-section">
			<h2 class="heading-section__title">Latest Works</h2>
			<div class="heading-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
		</div>

		<div class="header-buttons-work">
			<!-- slider -->
			<div class="work-btn-slider swiper-content">
				<div class="work-btn-slider__wrapper swiper-wrapper">
					<!--slide-1-->

					<div class="work-btn-slider__slide swiper-slide">
						<!-- Button -->
						<div class="buttons-work">
							<button type="button" class="buttons-work__btn">All</button>
						</div>
						<!-- Button - end -->
					</div>
					<!--slide-2-->
					<div class="work-btn-slider__slide swiper-slide">
						<!-- Button -->
						<div class="buttons-work">
							<button type="button" class="buttons-work__btn">Web Design</button>
						</div>
						<!-- Button - end -->
					</div>
					<!--slide-3-->
					<div class="work-btn-slider__slide swiper-slide">
						<!-- Button -->
						<div class="buttons-work">
							<button type="button" class="buttons-work__btn">Ua/Ux Design</button>
						</div>
						<!-- Button - end -->
					</div>
					<!--slide-4-->
					<div class="work-btn-slider__slide swiper-slide">
						<!-- Button -->
						<div class="buttons-work">
							<button type="button" class="buttons-work__btn">Mockups</button>
						</div>
						<!-- Button - end -->
					</div>
				</div>
			</div>
			<!-- slider - end -->
		</div>

		<div class="section-content-services-work">

			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_6.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>
			</div>


			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_5.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>
			</div>


			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_4.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>
			</div>

			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_3.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>
			</div>

			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_2.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>
			</div>

			<div class="section-content-services-work__work">
				<div class="section-content-services-work__work-block">

					<div class="section-content-services-work__img">
						<img src="img/works-img/work_1.jpg" alt="work" title="work">
						<div class="section-content-services-work__text">
							<a href="#" class="section-content-services-work__link-title">Hand Watch</a>
							<a href="#" class="section-content-services-work__link-subtitle">ui/ux design</a>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Button -->
		<div class="buttons-work">
			<button type="button" class="buttons-work__btn">View All</button>
		</div>
		<!-- Button - end -->
	</div>
</section>